<!DOCTYPE html>
<html lang="pt-br" class="h-full">
<head>
  <title>RedLibrary</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="h-full flex items-center justify-center">
<main class="w-full">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="m-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    <%= yield %>
  </div>
</main>

</body>
</html>
